*{
    margin:0;
    padding: 0;
}
.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_div {
    width: 45rem;
    height: 50rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
  }

.todo_input{
    width: 80%;
    border:none;
    padding: 1.5rem;
    font-size: 2rem;
    background-color: blanchedalmond;
    color:black;
    border-radius: .5rem;

}
.showItems {
    margin-top: 3rem;
    text-align: center;
  }
  .eachItem {
    width: 82%;
    background: #fff;
    padding: 1.2rem 1rem;
    border-radius: 0.5rem;
    margin-top:0.7rem;
    margin-bottom: 0.7rem;
    /* margin-left: 45rem; */
    /* min-width: 40rem; */
    word-break: break-word;
    background: rgb(85, 41, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .fa-trash-alt,
  .fa-edit {
    /* margin-left: -2.5rem; */
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    color: rgb(251, 251, 251);
    /* -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear; */
    font-size: 2rem;
  } 
  .todo-btn {
    width: 5rem;
    display: flex;
    justify-content: space-around;
  }
